# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
*.out
*.app

### VisualStudioCode ###
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/c++,visualstudiocode

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

# Arquivos .txt sao utilizados no programa para o salvamento de dados
# Considerando o uso individual do programa, nós, desenvolvedores, preferimos deixa-los invisiveis
# no codigo
*.txt
*.lock
# *.exe
# O executável não foi incluído no repositório para deixar a compilação por parte do interessado em rodar o código
# Vale pontuar também possíveis alterações sem compilar o código, tornando o .exe do repositório obsoleto 